stages:
  - deploy

deploy_scanlok:
  stage: deploy
  only:
    - main
  tags:
    - shell-runner
  before_script:
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan $SSH_HOST >> ~/.ssh/known_hosts

  script:
    - |
      ssh ubuntu@$SSH_HOST << EOF
      set -e

      cd /home/ubuntu/project_akhir

      git remote set-url origin https://${GIT_USERNAME}:${GIT_TOKEN}@gitlab.smkn1cibinong.sch.id/tim-devops/scanlok-web-v2.git
      git pull origin main

      cat <<ENV > .env
      APP_NAME=Base-Transceiver-Station
      APP_ENV=production
      APP_KEY=${APP_KEY}
      APP_DEBUG=false
      APP_URL=https://p2pweb.smkn1cibinong.sch.id

      DB_CONNECTION=mysql
      DB_HOST=db
      DB_PORT=3306
      DB_DATABASE=bts
      DB_USERNAME=${DB_USERNAME}
      DB_PASSWORD=${DB_PASSWORD}

      SESSION_DRIVER=database
      CACHE_STORE=database
      QUEUE_CONNECTION=database

      ENV

      docker compose down -v
      docker compose up -d --build

       sleep 15

       sudo docker compose exec -T app php artisan migrate --force
       sudo docker compose exec -T app php artisan db:seed --force

      EOF
