stages:
  - build

build-dan-push-image:
  stage: build
  tags:
    - shell
  script:
    - echo "Login ke GitLab Container Registry"
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY

    - echo "Build image dengan tag commit hash"
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA .

    - echo "Push image"
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
