version: "3.9"

services:
  app:
    image: registry.smkn1cibinong.sch.id/new-devops/base-ts:97be9088
    container_name: base-ts-app
    restart: unless-stopped

    volumes:
      - app_storage:/app/storage
      - app_cache:/app/bootstrap/cache

    ports:
      - "8080:9000"

    networks:
      - web_net

networks:
  web_net:
    driver: bridge

volumes:
  app_storage:
  app_cache:
