services:
  app:
    build: .
    container_name: bts-app
    depends_on:
      db:
        condition: service_healthy

  web:
    image: nginx:alpine
    container_name: bts-web
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: bts-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: bts
      MYSQL_USER: bts-user
      MYSQL_PASSWORD: bTs-d3ploY
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 30
      start_period: 60s
    volumes:
      - dbdata:/var/lib/mysql

volumes:
  dbdata:
